<h1>Images#new</h1>
<p>Find me in app/views/images/new.html.erb</p>

<%= form_for( @image, :html => { :multipart => true }) do |f| %>

<%= f.label :image %>
<%= f.file_field :image %> <br />


<%= f.submit  'アップロード' %>
  


<% end -%>
