<h1>Login</h1>

<%= form_for :client_user_logins, url: login_client_user_login_path do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %> <br />

      <%= f.label :password %>
      <%= f.text_field :password %> <br />

      <%= f.submit "Sign in" %>
<% end -%>

ログインの挙動をみるために、一旦パスワードをtext_field表示
