<% if @reset_password.present? %>

  <%= form_for @reset_password, url: reset_password_client_user_login_path(@reset_password.id) do |f| %>

  <%= f.label 'パスワード入力' %>
  <%= f.text_field :password %>
  <%= f.submit %>
  
  <% end -%>
  
<% end -%>

<%= link_to 'トップページ', root_path %>
