<table border = '1'>
  <tr>
    <td>従業員名:</td><td><%= @employee.name %></td>
  </tr>
  <tr>
    <td>メールアドレス:</td><td><%= @employee.try(:employee_email) %></td>
  </tr>
  <tr>
    <td>寄付金額:</td><td><%= @employee.donation_price %></td>
  </tr>
  <tr>
    <td>入社日:</td><td><%= @employee.try(:date_of_hire) %></td>
  </tr>
  <tr>
    <td>ポジション:</td><td><%= @employee.try(:client_position) %></td>
  </tr>
  <tr>
    <td>所属会社名:</td><td><%= @employee.client.name %></td>
  </tr>
  <tr>
    <td>性別:</td><td><%= @employee.sex.sex %></td>
  </tr>

</table>