<%= form_for @employee do |f| %>
  
  <table>
  
  <tr>
  <td><%= f.label '所属企業' %></td>
  <td><%= f.collection_select :client_id, Client.all, :id, :name %></td>
  </tr>

  <tr>
  <td><%= f.label  '氏名'  %></td>
  <td><%= f.text_field :name %></td>
  </tr>

  <tr>
  <td><%= f.label '性別' %></td>
  <td><%= f.collection_select :sex_id, Sex.all, :id, :sex %></td>
  </tr>

  <tr>
  <td><%= f.label 'メールアドレス' %></td>
  <td><%= f.text_field :employee_email %></td>
  </tr>

  <tr>
  <td><%= f.label '寄付金額'  %></td>
  <td><%= f.number_field :donation_price %></td>
  </tr>

  <tr>
  <td><%= f.label '誕生日'  %></td>
  <td><%= f.date_select :birth_day %></td>
  </tr>

  <tr>
  <td><%= f.label '入社日'  %></td>
  <td><%= f.date_select :date_of_hire %></td>
  </tr>

  <tr>
  <td><%= f.label  'ポジション'  %></td>
  <td><%= f.text_field :client_position %></td>
  </tr>


  <tr>
  <td><%= f.submit "登録" %></td>
  </tr>

  </table>

<% end -%>
