<table>
  <form method="post" action="/employees/find">
  <tr><th>FIND:</th><td><input type="text" name="employee_find"></td></tr>
  <tr><th></th><td><input type="submit" value="送信"></td></tr>
  </form>
</table>

<hr />

