
検索ワード：<%= @word %><br/>
<table>
  <tr><th>ID</th><th>NAME</th><th>PV</th><th>URL</th></tr>
  <% @datas.each do |data| %>
  <tr>
    <td><%= data.id %></td>
    <td><%= data.name %></td>
    <td><%= data.sex %></td>
    <td><%= data.employee_email %></td>
  </tr>
  <% end %>
</table>

