
<h2>会社情報</h2>
<table border = '1'>
  <tr>    
    <td>会社名:  <%= @client.name %></td>
  </tr>
  <tr>
    <td>住所:  <%= @client.address %></td> 
  </tr>
  <tr> 
    <td>電話番号:  <%= @client.tel_number %></td>
  </tr>
  <tr>
    <td>メールアドレス:  <%= @client.client_email %></td>
  </tr>
  <tr>
    <td>代表者名:  <%= @client.client_president %></td>
  </tr>
  <tr>
    <td>担当者名:  <%= @client.client_manager %></td>
  </tr>
  <tr>  
    <td>会社概要:  <%= @client.client_description %></td>
  </tr>
  <tr>
    <td>寄付目的:  <%= @client.donation_purpose.donation_purpose %></td>
  </tr>
    <td>支払い方法:  <%= @client.donation_pay_method.donation_pay_method %></td>
  <tr>
    <td>契約状況:  <%= @client.contract_status.contract_status %></td>
  </tr>
</table>
