<h2>寄付情報</h2>


寄付回数: <%= @client_donations.count %> <br />

  <% @client_donations.each do |donation| %>
    <table border = '1'>
      <tr>
        <td>寄付メッセージ:</td><td><%= donation.try(:donation_message) %></td>
      </tr>
      <tr>
        <td>寄付担当者:</td><td><%= donation.client_user.try(:name) %></td>
      </tr>
      <tr>
        <td>寄付金額:</td><td><%= donation.try(:donation_total_amount) %></td>
      </tr>
      <tr>
        <td>支払い状況:</td><td><%= donation.receipt_of_money_status.try(:receipt_of_money_status) %></td>
      </tr>
    </table>
    <p> </p>
  <% end -%>

<!-- ここには、donationページが個別でできた場合のリンク
      <tr>
        <td><%= link_to '寄付詳細', client_path %></td>
        <td><%= link_to '寄付情報編集', edit_client_path %></td>
      </tr>
-->