

<% @clients.each do |client| %>
<table border ='1'>
  <tr>
    <td>会社名:</td> <td><%= client.name %></td>
  </tr>
  <tr>
    <td>住所:</td> <td><%= client.address %></td>
  </tr>
  <tr>
    <td>電話番号:</td> <td><%= client.tel_number%></td>
  </tr>
  <tr>
    <td>メールアドレス:</td>  <td><%= client.client_email %></td>
  </tr>
  <tr>
    <td>代表者名:</td> <td><%= client.client_president %></td>
  </tr>
  <tr>
    <td>担当者名:</td> <td><%= client.client_manager %></td>
  </tr>
  <tr>
    <td>会社概要:</td> <td><%= client.client_description %></td>
  </tr>
  <tr>
    <td>寄付目的:</td> <td><%= client.donation_purpose.donation_purpose %></td>
  </tr>
  <tr>
    <td>契約状況:</td> <td><%= client.contract_status.contract_status %></td>
  </tr>
  <tr>
    <td>支払い方法:</td> <td><%= client.donation_pay_method.donation_pay_method %></td>
  </tr>
  <tr>
    <td>基本寄付金額:</td> <td><%= client.price_per_employee %></td>
  </tr>
  <tr>
    <td><%= link_to '詳細', client_path(client.id) %></td>
    <td><%= link_to '編集', edit_client_path(client.id) %></td>
  </tr>
</table>

<p>  </p>
<% end -%>
