<h2>メンバー情報</h2>

総メンバー数: <%= @client.employees.count %> <br />

  <% @client.employees.each do |employee| %>
    <table border = '1'>
      <tr>
        <td>従業員名:</td><td><%= employee.try(:name) %></td>
      </tr>
      <tr>
        <td>メールアドレス:</td><td><%= employee.try(:employee_email) %></td>
      </tr>
      <tr>
        <td>寄付金額:</td><td><%= employee.try(:donation_price) %></td>
      </tr>
      <tr>
        <td><%= link_to '詳細', employee_path(employee.id) %></td>
        <td><%= link_to '編集', edit_employee_path(employee.id) %></td>
      </tr>
    </table>
    <p> </p>
  <% end -%>

