<%= form_for @client do |f| %>
  
  <table>
  
  <tr>
  <td><%= f.label '寄付目的' %></td>
  <td><%= f.collection_select :donation_purpose_id, DonationPurpose.all, :id, :donation_purpose %></td>
  </tr>

  <tr>
  <td><%= f.label '支払い方法' %></td>
  <td><%= f.collection_select :donation_pay_method_id, DonationPayMethod.all, :id, :donation_pay_method %></td>
  </tr>

  <tr>
  <td><%= f.label '一人当たりの寄付金額' %></td>
  <td><%= f.text_field :price_per_employee %></td>
  </tr>
  
  <tr>
  <td><%= f.label '契約状況' %></td>
  <td><%= f.collection_select :contract_status_id, ContractStatus.all, :id, :contract_status %></td>
  </tr>

  <tr>
  <td><%= f.label  '会社名'  %></td>
  <td><%= f.text_field :name %></td>
  </tr>

  <tr>
  <td><%= f.label '所在地'  %></td>
  <td><%= f.collection_select :prefectures_name_id, PrefecturesName.all, :id, :prefectures_name %></td>
  </tr>

  <tr>
  <td><%= f.label '市区町村'  %></td>
  <td><%= f.text_field :address %></td>
  </tr>

  <tr>
  <td><%= f.label '電話番号'  %></td>
  <td><%= f.telephone_field :tel_number %></td>
  </tr>

  <tr>
  <td><%= f.label 'メールアドレス' %></td>
  <td><%= f.text_field :client_email %></td>
  </tr>

  <tr>
  <td><%= f.label '代表者名'  %></td>
  <td><%= f.text_field :client_president %></td>
  </tr>

  <tr>
  <td><%= f.label '担当者名'  %></td>
  <td><%= f.text_field :client_manager %></td>
  </tr>

  <tr>
  <td><%= f.label '会社概要'  %></td>
  <td><%= f.text_area :client_description %></td>
  </tr>

  <tr>
  <td><%= f.submit "登録" %></td>
  </tr>

  </table>

<% end -%>