===========================================
 <%= @retry_user.name %>さん Passwordの再設定です。
===========================================

以下のページからパスワードの再設定を行ってください。

<%= link_to 'こちら', reset_password_client_user_login(@retry_user.id) %>

ここにパスワード再設定のurlを記載