<h2>パスワード再設定メール</h2>
<%= form_for :sent_mail, url: retry_password_path do |f|  %>
  <%= f.label 'メールアドレスを入力してください' %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end -%>

<!-- ここからメーラーのpassword_retry_mailへ　(user_data)？を引数として渡す-->
<!-- params[:sent_mail][:email]で受け取り-->