<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= @retry_user.name %>　さんパスワードの再設定をお願いします</h1>
    <p>
      <%= link_to 'こちちらのリンク', reset_password_client_user_login_url(@retry_user.id) %>　<br />
      からよろしくお願いします。
    </p>
  </body>
</html>
