<%= form_for @active_report do |f| %>
  
  <table>

  <tr>
  <td><%= f.label  'タイトル'  %></td>
  <td><%= f.text_field :title %></td>
  </tr>

  <tr>
  <td><%= f.label '投稿記事' %></td>
  <td><%= f.text_area :content %></td>
  </tr>

  <tr>
  <td><%= f.label '掲載開始日時'  %></td>
  <td><%= f.date_select :publish_start_date %></td>
  </tr>

  <tr>
  <td><%= f.label '掲載終了日時'  %></td>
  <td><%= f.date_select :publish_end_date %></td>
  </tr>
  
  <tr>
  <td><%= f.label 'カテゴリー' %></td>
  <td><%= f.collection_select :category_id, Category.all, :id, :name %></td>
  </tr>

  
  <tr>
  <td><%= f.label 'タグ' %></td>
  <td><%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %></td>
  </tr>
  
  <tr> 
  <td><%= f.label '画像指定' %></td>
  <td><%= f.collection_check_boxes :image_ids, Image.all, :id, :image %></td>
  </tr>

  <tr>
  <td><%= f.label '会社' %></td>
  <td><%= f.collection_select :client_id, Client.all, :id, :name %></td>
  </tr>

  <tr>
  <td><%= f.submit "投稿" %></td>
  </tr>

  </table>

<% end -%>
