<h1>記事一覧</h1>

<% @active_reports.each do |active_report| %>

  <table border = '1'>
    <tr>
      <td>title:</td> <td><%= active_report.title %></td>
    </tr>
    <tr>
      <td>content:</td> <td><%= truncate(active_report.content, :length => 10) %> <br/ > <%= link_to 'more', active_report_path(active_report) %>  </td>
    </tr>
    <tr>
      <td>category:</td> <td><%= active_report.category.name %></td> 
    </tr>
    <tr>
      <td>会社名:</td> <td><%= link_to active_report.client.try(:name), client_path(:id => active_report.client_id)  %></td>
    </tr>
    <tr>
      <td>掲載開始日時:</td> <td><%= active_report.publish_start_date %></td>
    </tr>
    


        <% active_report.images.each do |image| %>
          <tr>
          <td>image:</td><td><%= image.try(:image) %></td> 
          </tr>
        <% end %>

        <% active_report.tags.each do |tag| %>
          <tr>
          <td>tag:</td><td><%= tag.try(:name) %></td>
          </tr> 
        <% end -%>

  </table>
  <p>  </p>
<% end -%>



