<h1>投稿記事</h1>

title: <%= @active_report.title %>  <br />

content: <%= @active_report.content %>  <br />

category: <%= @active_report.category.name %>  <br />

会社名:  <%= @active_report.client.name %>  <br />

掲載開始日時: <%= @active_report.publish_start_date %>  <br />

image:
    <% @active_report.images.each do |image| %>
      <%= image.try(:image) %>, 
    <% end %>

<br />

tag: 
    <% @active_report.tags.each do |tag| %>
      <%= tag.try(:name) %>, 
    <% end -%>