<h1>csv-site</h1>

<%= link_to '協力企業一覧', clients_path %>  <br />

<%= link_to '参加メンバー一覧', employees_path %>  <br />

<%= link_to '記事一覧', active_reports_path %> <br />

<%= link_to 'クライアントログイン', login_client_user_login_path %>  <br />

<%= link_to '管理者ログイン', login_admin_user_login_path %>  <br />


<% if session[:client_user_id].present?  %>

  <h3>User Status</h3>
  <% @client_user =  ClientUser.find(session[:client_user_id])  %> 
  name: <%= @client_user.name %> <br />
  email: <%= @client_user.email %> <br />

  <% if @client_user.client_id.present?  %>
    <%= link_to '所属企業詳細', client_path(@client_user.client_id) %>
  <% end -%>
  
  <%= link_to 'ユーザー情報編集' %>
  <%= link_to 'ログアウト', :controller => "client_user_logins", :action => "destroy",  data: {:confirm => "本当にログアウトしますか？"} %>

<% end -%>

<% if session[:admin_user_id].present?  %>

<h3>Admin user status</h3>
<% @admin_user =  AdminUser.find(session[:admin_user_id])  %> 
name: <%= @admin_user.name %> <br />
email: <%= @admin_user.email %> <br />


  <%= link_to 'ユーザー情報編集' %>
  <%= link_to 'ログアウト', :controller => "admin_user_logins", :action => "destroy",  data: {:confirm => "本当にログアウトしますか？"} %>
<% end -%>
